<div class="main_wapper wrapper clearfix an-full-min-height-container">

    <!--Left Sidebar-->

    <div id="Sidebar">
        <div id="integration-list">
            <ul>
                <li>
                    <div class="integration-slider">
                        <div *ngIf="false" class="range-slider square">
                            <nouislider [connect]="true" [min]="0" [max]="15" [step]="1" [(ngModel)]="someValue" [config]="someKeyboardConfig" (ngModelChange)="onChange($event)">
                            </nouislider>
                        </div>
                        <a class="expand">
                            <div class="right-arrow">▼</div>
                            <div>
                                <h2>Base Parameters</h2>
                            </div>
                        </a>
                        <div class="detail" style="display: none;">
                            <div class="Parameters_Content">
                                <ul>
                                    <li>
                                        <div class="Parameters_Content_Title">Age</div>
                                        <nouislider [(ngModel)]="Age" [config]="someKeyboardConfig" (ngModelChange)="onChange($event)"></nouislider>
                                    </li>
                                    <li>
                                        <div class="Parameters_Content_Title">Height</div>
                                        <nouislider [(ngModel)]="Height" [config]="someKeyboardConfig" (ngModelChange)="onChange($event)"></nouislider>
                                    </li>
                                    <li>
                                        <div class="Parameters_Content_Title">Weight</div>
                                        <nouislider [(ngModel)]="Weight" [config]="someKeyboardConfig" (ngModelChange)="onChange($event)"></nouislider>
                                    </li>
                                    <li>
                                        <div class="Parameters_Content_Title">Muscle</div>
                                        <nouislider [(ngModel)]="Muscle" [config]="someKeyboardConfig" (ngModelChange)="onChange($event)"></nouislider>
                                    </li>
                                    <li>
                                        <div class="Parameters_Content_Title">Proportions</div>
                                        <nouislider [(ngModel)]="Proportion" [config]="someKeyboardConfig" (ngModelChange)="onChange($event)"></nouislider>
                                    </li>
                                    <li class="sex-r-sliderm">
                                        <div class="Parameters_Content_Title">Sex</div>
                                        <nouislider [connect]="true" name="Sex" [(ngModel)]="Sex" [config]="someKeyboardConfig" (change)="saveBaseParamRange('sex',$event)"></nouislider>
                                    </li>
                                    <li>
                                        <div class="expand-box">
                                            <ul>
                                                <li style="background-color:#66afea">Asian</li>
                                                <li style="background-color:#0287f9">African</li>
                                                <li style="background-color:#072136">Caucasian</li>
                                            </ul>
                                        </div>
                                        <div class="Parameters_Content_Title">Ethnicity</div>
                                        <nouislider class="eSlider" name="ethnicity" [(ngModel)]="ethnicity" [config]="ethinicityConfig" (change)="saveBaseParamRange('allasian', $event,asianSlider)"></nouislider>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="shuffle-btn">
                <a id="genButton" (click)="saveRanges()">Generate</a>
            </div>
        </div>

    </div>

    <!--Left Sidebar-->

    <!--Container-->

    <div id="content-wrapper">
        <div class="object-container an-object-container">
            <div class="object-container-in an-display-flex clearfix">
                <div class="head-detail an-head-details-vertical clearfix">
                    <div class="head-title clearfix">
                        <h3 style="margin-top: 10px" *ngIf="processedFiles.id !== ''">{{processedFiles.title}}</h3>
                        <div class="dropdown pull-right">
                            <div ngbDropdown class="d-inline-block">
                                <button class="btn btn-outline-primary list-btn" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-list"></i></button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownBasic1">
                                    <li *ngFor="let gen of changeHistoryG;let i=index">
                                        <a (click)="switchGenImage(gen.id)"> {{gen.title}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <perfect-scrollbar class="an-head-details-scrollable" [config]="config">
                        <div class="head-detail-block content vertical-scroll-padding clearfix">
                            <div class="scroller-content">
                                <div *ngFor="let pFile of processedFiles.files;let i=index" (click)="selectGenImage(i)" [class]="pFile.file == selectedGenImage.file ? 'block active' : 'block'">
                                    <img class="block_img " src={{pFile.file}}/>
                                </div>
                            </div>
                        </div>
                    </perfect-scrollbar>
                    <div class="an-selected-block-vertical">
                        <div class="an-align-center">
                            Input 1
                        </div>
                        <div class="head-detail-block">
                            <div class="block">
                                <img class="block_img" src={{input1Image.file}}/>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="object-container-dna an-dna-conatiner" [ngClass]="{'an-dna-height-strecher': (mergedFiles.id !== '' && selectedGenImage.file === '' && selectedRepoImage.file === '') }">
                    <div class="dna-code-title">
                        <h2> DNA CODE </h2>
                    </div>
                    <div class="dna-code-title2" *ngIf="false">
                        <h2>“ An old man is wiser than it appears”</h2>
                    </div>
                    <div class="block block-object ">
                        <span class="helper"></span>
                        <div class="an-display-flex overflow-scroll">
                            <div class="an-main-img" *ngIf="selectedGenImage.file !== ''" [ngClass]="{'an-main-img-strecher': (mergedFiles.id !== '' && selectedGenImage.file === '' && selectedRepoImage.file === '') }">
                                <img id="dnaCode_main_img" [src]="selectedGenImage.file">

                                <div class="an-btn-below-img clearfix">
                                    <!-- <a href="javascript:void(0)" class="addgame-btn" (click)="exportFbx(true)"> Add to game </a> -->
                                    <a *ngIf="hideFbxExport" style="cursor: not-allowed" class="addgame-btn" style="margin-left: 10px" (click)="exportFbx(false,selectedGenImage)"> Export FBX </a>
                                </div>
                            </div>
                            <div class="an-main-img" *ngIf="selectedMergedImage.file !== ''" [ngClass]="{'an-main-img-strecher': (mergedFiles.id !== '' && selectedGenImage.file === '' && selectedRepoImage.file === '') }">
                                <img id="dnaCode_main_img" [src]="selectedMergedImage.file">

                                <div class="an-btn-below-img clearfix">
                                    <!-- <a href="javascript:void(0)" class="addgame-btn" (click)="exportFbx(true)"> Add to game </a> -->
                                    <a style="cursor: not-allowed" class="addgame-btn" style="margin-left: 10px" (click)="exportFbx(false,selectedMergedImage)"> Export FBX </a>
                                </div>
                            </div>
                            <div class="an-main-img" *ngIf="selectedRepoImage.file !== ''" [ngClass]="{'an-main-img-strecher': (mergedFiles.id !== '' && selectedGenImage.file === '' && selectedRepoImage.file === '') }">
                                <img id="dnaCode_main_img" [src]="selectedRepoImage.file">

                                <div class="an-btn-below-img clearfix">
                                    <!-- <a href="javascript:void(0)" class="addgame-btn" (click)="exportFbx(true)"> Add to game </a> -->
                                    <a style="cursor: not-allowed" class="addgame-btn" style="margin-left: 10px" (click)="exportFbx()"> Export FBX </a>
                                </div>
                            </div>
                        </div>
                        <div class="object-container-dna-btm" *ngIf="!(mergedFiles.id !== '' && selectedGenImage.file === '' && selectedRepoImage.file === '') && input1Image.file !== '' && input2Image.file !== ''">
                            <div class=" an-display-flex">
                                <!-- <a href="javascript:void(0)" class="addgame-btn" (click)="exportFbx(true)"> Add to game </a>
              <a style="cursor: not-allowed" class="addgame-btn" style="margin-left: 10px" (click)="exportFbx()"> Export fbx </a> -->
                                <div class="shuffle-btn flex-1">
                                    <!-- Change Button color to Primary -->
                                    <a (click)="generateImage()"> Merge </a>
                                </div>
                                <div class="an-ham-button-div" ngbDropdown>
                                    <button class="btn btn-outline-primary list-btn" id="dropdownBasic2" ngbDropdownToggle><i class="fa fa-list"></i></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownBasic2">
                                        <li *ngFor="let gen of changeHistoryM;let i=index">
                                            <a (click)="switchMergeImage(gen.id)"> {{gen.title}} </a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- <a href="javascript:void(0)" class="addgame-btn pull-right">Add to library</a> -->
                            </div>
                        </div>
                    </div>
                    <div class="an-head-details-horizontal" *ngIf="mergedFiles.id !== '' && selectedGenImage.file === '' && selectedRepoImage.file === ''">
                        <div class="horizontal-details">
                            <div class="head-detail">
                                <h3> {{mergedFiles.title}} </h3>
                                <div class="an-ham-button-div" ngbDropdown>
                                    <button class="btn btn-outline-primary list-btn" id="dropdownBasic2" ngbDropdownToggle><i class="fa fa-list"></i></button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownBasic2">
                                        <li *ngFor="let gen of changeHistoryM;let i=index">
                                            <a (click)="switchMergeImage(gen.id)"> {{gen.title}} </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="scroll-container" style="float: left;">
                            <div class="an-horizonatal-scrollbar">
                                <div class="">
                                    <swiper class="" [config]="config" overlay-controls fxFlex *ngIf="mergedFiles.id !== ''">
                                        <div class="swiper-slide" *ngFor="let mFile of mergedFiles.files;let i=index" style="display:inline-block;" (click)="selectMergedImage(i)" [class]="mFile.file == selectedMergedImage.file ? 'block active swiper-slide' : 'block swiper-slide'">
                                            <div class="swiper-slide-content" fxLayoutAlign="center center ">
                                                <img class="block_img" src={{mFile.file}}/>
                                            </div>
                                        </div>
                                    </swiper>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shuffle-btn" style="display: none">
                    <a id="genButton" (click)="saveRanges()"> Generate </a>
                    <a (click)="generateImage()"> Merge </a>
                </div>
                <div id="RSidebar" class="an-RSidebar">
                    <div class="head-detail an-head-details-vertical clearfix">
                        <div class="head-title clearfix">
                            <h3> Repository </h3>
                        </div>
                        <perfect-scrollbar class="an-head-details-scrollable" [config]="config">
                            <div class="head-detail-block content vertical-scroll-padding clearfix">
                                <div class="scroller-content">
                                    <div *ngFor="let bodyPart of bodyParts.files;let i=index" (click)="repositorySelected(i)" [class]="selectedRepoImage.file !== '' && selectedRepoImage.file == bodyPart.file ? 'block active' : 'block'">
                                        <img src={{bodyPart.file}} class="block_img ">
                                    </div>
                                </div>
                            </div>
                        </perfect-scrollbar>
                        <div class="an-selected-block-vertical">
                            <div class="an-align-center">
                                Input 2
                            </div>
                            <div class="head-detail-block">
                                <div class="block">
                                    <img class="block_img" src={{input2Image.file}}/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="toasterDiv" style="display: none; position: absolute; top: 0px; right: 10px; color: white; background: yellowgreen; z-index: 1000;" class="alert"></div>